/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
scroll-behavior: smooth;
}

*,
*::before
*::after {
box-sizing: inherit;
}
:root {
  --text-color: #333333;
  --font-family: "Roboto", sans-serif;
  --color-background: #0A775F;
  --header-color-background: #C99B67;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
background-color: #fff;
color: var(--text-color);
padding: 0%;
margin: 0%;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
width: 100%;
max-width: 1440px;
padding-left: 50px;
padding-right: 50px;
margin-left: auto;
margin-right: auto;
}
/* HEADER */
.header-contain {
  margin: 0%;
  padding: 0%;
  width: 1440px;
  height: 700px;
  margin: 0%;
  background-color: var(--header-color-background);
  background-image: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 710px 596px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.header-contain {
  background-image: url("../img/hero-image@2x.png");}
}
.header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1340px;
  height: 24px;
  margin: 0%;
padding-top: 40px;
padding-right: 50px;
padding-bottom: 0px;
padding-left: 50px;
}
.header-logo-link {
flex-shrink: 0;
}
.site-icon {
  display: block;
width: 235px;
height: 24px;
margin: 0%;
object-fit: cover;
}
.site-nav {
  width: 400px;
  margin: 0%;
}
.footer-site-nav {
  width: 300px;
  margin: 0%;
}
.ul-site-nav-item {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.site-nav-item {
  margin: 0%;
}
.link-nav-item {
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
color: var(--text-color);
white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;;
}
.header-texts {
  width: 370px;
  height: 195px;
  margin-left: 100px;
}
.header-texts h1 {
  font-weight: 700;
  font-size: 64px;
  margin-top: 0%;
  margin-bottom: 24px;
}
.header-texts p {
  margin: 0%;
  margin-bottom: 30px;
}
.button {
  text-transform: uppercase;
  width: 193px;
  height: 51px;
  margin: 0%;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 1px;
text-align: center;
color: #fff;
border: none;
border-radius: 100px;
cursor: pointer;
}
.header-button {
background-color: var(--color-background);
}
.stamp {
width: 160px;
height: 160px;
margin-top: -40px;
padding-left: 660px;


}
/* MAIN-CONTENT  */
.main-content {
  margin: 0%;
  padding: 20px;
  background-color: #fff;
  width: 1400px;
  flex-grow: 1;
}
/* HERO */
.hero-contain {
width: 1400px;
height: 1740px;
margin: 0%;
margin-bottom: 20px;
background-color: #efefda;
background-image:
url("../img/leaves-left.svg"),
url("../img/leaves-left-light.svg"),
url("../img/leaves-right-mix.svg");
background-repeat: no-repeat, no-repeat, no-repeat;
background-position: left top, left bottom, right center;
}
.hero-contain h1 {
  margin: 0%;
margin-bottom: 80px;
margin-right: auto;
margin-left: auto;
padding: 0%;
padding-top: 50px;
font-weight: 700;
font-size: 50px;
line-height: 58px;
text-align: center;
color: #000000;
}
.hero-wrap {
  width: 1114px;
  height: 1500px;
  margin: 0%;
padding-left: 143px;
padding-right: 143px;
}
.hero-wrap img {
  width: 450px;
  height: 375px;
}
.hero-wrap h2 {
  width: 327px;
  height: 56px;
  margin: 0%;
margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.hero-wrap p {
  width: 420px;
  height: 68px;
  margin: 0%;
  font-size: 22px;
  line-height: 34px;
}
.hero-wrap section {
  margin-top: auto;
  margin-bottom: auto;
}
.hero-wrap section:not(:first and third) {
  margin: 0%;
margin-right: 117px;
}
.hero-wrap section:not(:second and fourth) {
  margin: 0%;
margin-left: 117px;
}
.copi {
  margin: 0%;
  display: flex;
  justify-content: space-between;
}
.copi4 {
  margin: 0%;
}
.copi3 {
  margin: 0%;
}
.copi2 {
  margin: 0%;
}
.copi1 {
  margin: 0%;
}
/* FEATURES */
.features-wrap {
margin: 0%;
width: 1400px;
height: 912px;
margin-bottom: 80px;
}
.features-contain {
  margin: 0%;
  width: 1400px;
  height: 703px;
  background-color: #C99B67;
}
.features-texts {
  margin: 0%;
  color: #fff;
}
.features-texts h1 {
  font-weight: 700;
height: 59px;
  font-size: 50px;
  line-height: 58px;
margin: 0%;
padding-top: 50px;
margin-bottom: 10px;
text-align: center;
}
.features-texts p {
  margin: 0%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
width: 580px;
opacity: 80%;
line-height: 28px;
}
.div-features-img {
  display: block;
  margin: 0%;
  margin-top: -421px;
  padding: 0%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.div-features-img section {
width: 433px;
height: 630px;
margin: 0%;
}
.div-features-img section:not(:last-child) {
  margin-right: 20px;
  margin-bottom: -175px;
}
.div-features-img h3 {
margin: 0%;
margin-top: 28px;
width: 260px;
font-weight: 500;
font-size: 30px;
line-height: 35px;
}
.div-features-img p {
  margin: 0%;
  width: 377px;
font-size: 18px;
line-height: 28px;
}
.div-features-img img {
  margin: 0%;
  width: 433px;
  height: 500px;
}
.img-collography {
  width: 128px;
  height: 135px;
margin: 0%;
margin-bottom: -70px;
position: absolute;
}

/* CTA */
.div-cta-content {
  margin: 0%;
}
.cta-wrap {
  margin: 0%;
width: 1400px;
height: 826px;
background-color: var(--color-background);
}
.cta-wrap h1 {
  text-transform: uppercase;
  font-weight: 700;
height: 59px;
  font-size: 50px;
  line-height: 58px;
margin: 0%;
padding-top: 50px;
color: #fff;
text-align: center;
}
.cta-div-logo {
  margin: 0%;
margin-top: -60px;
margin-bottom: 35px;
  display: flex;
  justify-content: end;
  padding-right: 90px;
}
.cta-logo {
width: 190px;
height: 130px;
margin: 0%;
}
.div-cta-boxs {
  display: flex;
margin: 0%;
margin-bottom: 50px;
padding: 0%;
padding-right: 30px;
padding-left: 30px;
list-style: none;
counter-reset: ol-item;
}
.cta-item {
  display: flex;
  flex-direction: column;
margin: 0%;
margin-right: 20px;
counter-increment: ol-item;
}
.cta-item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 4px solid var(--header-color-background);
  margin-bottom: 20px;
}
.cta-item section {
display: flex;
flex-direction: column;
  flex-grow: 1;
  margin: 0%;
  padding: 0%;
  padding: 20px;
padding-bottom: 40px;
background-color: #fff;
}
.cta-item section::before {
  content: "0"counter(ol-item);
  font-size: 64px;
  line-height: 75px;
  margin: 0%;
  margin-bottom: 45px;
align-self: flex-end;
}
.div-cta-boxs h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  width: 230px;
  height: 94px;
  margin: 0%;
  margin-bottom: 10px;
}
.div-cta-boxs p {
  width: 385px;
  height: 112px;
  font-size: 18px;
  line-height: 28px;
  margin: 0%;
}
.div-button-cta {
  display: flex;
  justify-content: center;
margin: 0%;
}
.cta-button {
  background-color: #C99B67;
}
/* FOOTER */
.footer-wrap {
  margin: 0%;
  padding: 0%;
  width: 1440px;
  height: 160px;
background-color: var(--header-color-background);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer-img-social {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
.footer-img-social img:not(last-child) {
  margin-right: 30px;
}