/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
scroll-behavior: smooth;
}

*,
*::before
*::after {
box-sizing: inherit;
}
:root {
  --text-color: #333333;
  --font-family: "Roboto", sans-serif;
  --color-background: #0A775F;
  --header-color-background: #C99B67;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
background-color: #fff;
color: var(--text-color);
padding: 0%;
margin: 0%;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
width: 100%;
max-width: 1440px;
padding-left: 50px;
padding-right: 50px;
margin-left: auto;
margin-right: auto;
}
/* HEADER */
.header-contain {
  margin: 0%;
  padding: 0%;
  width: 1440px;
  height: 700px;
  margin: 0%;
  margin-bottom: 20px;
  background-color: var(--header-color-background);
  background-image: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 710px 596px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.header-contain {
  background-image: url("../img/hero-image@2x.png");}
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  height: 24px;
  margin: 0%;
padding-top: 40px;
padding-right: 50px;
padding-bottom: 0px;
padding-left: 50px;
}
.site-icon {
  display: block;
width: 235px;
height: 24px;
margin: 0%;
}
.site-nav {
  width: 400px;
  margin: 0%;

}
.ul-site-nav-item {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.site-nav-item {
  margin: 0%;
}
.link-nav-item {
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
color: var(--text-color);
}
.uppercase {
  text-transform: uppercase;;
}
.header-texts {
  width: 370px;
  height: 195px;
  margin-left: 100px;
}
.header-texts h1 {
  font-weight: 700;
  font-size: 64px;
  margin-top: 0%;
  margin-bottom: 24px;
}
.header-texts p {
  margin: 0%;
}
.stamp {
width: 160px;
height: 160px;
margin-top: -40px;
padding-left: 660px;


}
/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}